<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>From Trabajador</title>
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/Style/main.css" />
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="container fondo">
  <div class="row align-items-start">
    <div class="col">
      <!--Menu-->
      <header th:include="~{../static/html/menuDos.html}"></header>

      <!--Formulario-->
      <div class="container d-flex align-items-center justify-content-center ">
        <div class="row">
          <div class="col-12 formulario-registro">

            <form th:action="@{/liquidacion/actualizar/{id_liquidacion}(id_liquidacion=${liquidacion.getId_liquidacion()})}" id="contactForm" th:method="post" class="from-Register from-Register-Usuario align-items-center justify-content-center  pb-5 mb-5 ">
              <h1>Actualizar Liquidacion</h1>
              <div class="col mt-5">
                <label for="trabajador" class="form-label">Trabajador</label>
                <select class="form-control" id="trabajador" name="trabajadorID">
                  <option th:each="trabajador: ${trabajador}" th:value="${trabajador.id_trabajador}" th:text="${trabajador.nombre + ' ' + trabajador.apellido1}"></option>
                </select>

                <label >Sueldo Imponible</label>
                <input type="number" th:value="${liquidacion.sueldo_imponible}" class="form-control input-Register mb-3" name="sueldo_imponible" required>

                <label for="saludId" class="form-label">Institución de Salud</label>
                <select class="form-control" id="saludId" name="saludID">
                  <option th:each="salud: ${salud}"
                          th:value="${salud.id_inst_salud}"
                          th:text="${salud.descripcion}"
                          th:selected="${salud.id_inst_salud == liquidacion.trabajador.id_inst_salud.id_inst_salud}"
                  ></option>
                </select>

                <label for="montoSalud">Monto Salud</label>
                <input type="number" th:value="${liquidacion.monto_inst_salud}" class="form-control input-Register mb-3" id="montoSalud" name="monto_inst_salud" >

                <label for="previsionId" class="form-label">AFP</label>
                <select class="form-control" id="previsionId" name="previsionID">
                  <option th:each="prevision: ${prevision}"
                          th:value="${prevision.id_inst_prevision}"
                          th:text="${prevision.descripcion}"
                          th:selected="${prevision.id_inst_prevision == liquidacion.trabajador.id_inst_prevision.id_inst_prevision}"
                  ></option>
                </select>

                <label for="montoAFP">Monto AFP</label>
                <input type="number" th:value="${liquidacion.monto_inst_previsional}" class="form-control input-Register mb-3" id="montoAFP" name="monto_inst_previsional" required>

                <label for="totalDescuento">Total Descuento</label>
                <input type="number" th:value="${liquidacion.total_descuento}" class="form-control input-Register mb-3" id="totalDescuento" name="total_descuento" required>

                <label for="totalHaberes">Total Haberes</label>
                <input type="number" th:value="${liquidacion.total_haberes}" class="form-control input-Register mb-3" id="totalHaberes" name="total_haberes" required>

                <label for="anticipo">Anticipo</label>
                <input type="number" th:value="${liquidacion.anticipo}" class="form-control input-Register mb-3" id="anticipo" name="anticipado" required>

                <label >Sueldo Líquido</label>
                <input type="number"  class="form-control input-Register mb-3" name="sueldo_liquido"  required>

                <br>
                <button type="submit" class="btn  btn-Registar mt-4">Actualizar Liquidacion</button>
              </div>

            </form>
          </div>
        </div>
      </div>

      <!--Footer-->
      <footer class="pt-5 footer-RU">
        <div class="jumbotron jumbotron-fluid text-center">
          <div class="container">
            <h3 class="titulo-footer">Sprint Módulo 6</h3>
            <i class="fab fa-github-square" style="color: #ffffff"></i>
            <p class="lead">@BootcampJava2023</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

<script
        src="https://kit.fontawesome.com/b446e10e54.js"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"
></script>
</body>
</html>
